# Test against the latest version of this Node.js version
environment:
  nodejs_version: "12"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - nvm use 12.16.3
  - apt-get install yarn
  # install modules
  - yarn

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - yarn --version
  # run tests
  - yarn test
  - node index.js

# Don't actually build.
build: off
